@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,800&display=swap");
/* Variables */
h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 43px;
  letter-spacing: 1.71667px;
  margin-bottom: 33px; }

h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 1.71667px;
  margin-bottom: 33px; }

h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 1.71667px;
  margin-bottom: 33px; }

h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 1.71667px;
  margin-bottom: 33px; }

p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px; }

body {
  color: #464646; }

.container-fluid {
  height: 100%;
  min-height: 100%;
  margin: 0; }

.arrow {
  height: 58px; }
