

.container-fluid {
         #navbar{
             height: 50px;
             a{
                 float: right;
                 color: black;
                 text-decoration: none;
             }
         }
         #centercontainer{
         width: 100px;
         align-items: center;
         margin-top: 10px;
         margin-bottom: 10px;
            #contentform{
                h3{
                    margin-top: 110px;
                    text-align: center;
                }
                #sel1{
                        font-weight: 300;
                        width: 360px;
                        height: 33px;
                        background: $background;
                        border-style:1px solid #979797 ;
                        border-radius: 0px !important ;
                }
            }
            input{
                margin: 8px;
            }
            #price{
                float: left;
            }
            #quantity{
                float: right;
            }
            .select-weeks  input{
                display: none;
              }
              .week-label {
                display: inline-block;
                width: 40px;
                height: 40px;
                text-align: center;
                border: 1px solid #ddd;
                line-height: 40px;
              }
            #one:checked ~ label[for="one"],
            #two:checked ~ label[for="two"],
            #three:checked ~ label[for="three"],
            #four:checked ~ label[for="four"]
                {
                background:$blue;
                color: #fff;
            }
             .form-inline{
                
                 .form-control {
                         margin: 20px;
                         } 
                         h6{
                             margin: 2px;
                         }
                         input.checkbox{
                             margin: 6px;
                         }
                 }
                 .custom-file{
                     width: 60%;
                 }
                 .buttonblue {
                     margin-top: 10px;
                     margin-left: 120px;
                 }
         }  
     }