@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,800&display=swap');

/* Variables */

// FONTS \\ 

$font: "Montserrat", ;

// Colors \\
$blue: #68C7C9;
$red: #FF6948;
$yellow: #FFC556;
$green: #9AD187;
$white: white;
$dark: #979797;
$fontcolor: #464646;
$background: #F7F7F7;