 <%- include("partial/header.ejs") %>
<body>
<div class="container-fluid">
    <div class="row">
        <!-- navbar -->
        <div class="col-12" id="navbar">
            <a href="#">PRODUCTS</a>
            <a href="#">ORDERS</a>
            <a href="#">SETTINGS</a>
            <a href="#">LOG OUT</a>
        </div>
        <div class="col-12 col-md-6" id="leftcontainer">
            <div class="col-12 ">
            </div>
        </div>
        <!-- main-->
        <div class="col-12 col-md-5" id="centercontainer">
            <div class="col-12" id="contentform">
            <h3 class="titel">ADD PRODUCT</h3>
            <form class="form-inline" action="/admin/createproduct" method="POST">
                    <select class="form-control" id="sel1" placeholder="Select country">
                        <option>Siri Lanka</option>
                        <option>Portugal</option>
                        <option>Costa rica</option>
                    </select>
                        <input  class="form-control" placeholder="Title" id="title">
                        <input  class="form-control" placeholder="Description" id="description">
                        <input  class="form-control" placeholder="Price" id="price">
                        <input  class="form-control" placeholder="Quantity" id="quantity">
                        <h6>Amount of weeks</h6>
                        <input class ="checkbox" type="checkbox" placeholder="hej">
                        <input class ="checkbox" type="checkbox">
                        <input class ="checkbox" type="checkbox">
                        <input class ="checkbox" type="checkbox">
                        <form>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="customFile">
                      <label class="custom-file-label" for="customFile">UPLOAD IMAGE</label>
                    </div>
                  </form>
                    <button type="submit">ADD PRODUCT</button>
                </form>
            </div>
        </div>
        <!-- sidebar -->
        <div class="col-12 col-md-1" id="rightcontainer">

        </div>
    </div>

</div>
</body>
</html>