<%- include("../partial/adminheader.ejs") %>

<!-- ORDER INFORMATION -->
<div class="row justify-content-center" id="title_admin">
    <div class="col-12 col-md-7 col-lg-5">
        <h1>ORDERS</h1>
    </div>
</div>
<div class="row" id="row_orders">
    <div class="col-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"><p>ORDER NR</p></th>
                    <th scope="col"><p>NAME</p></th>
                    <th scope="col"><p>ADRESS</p></th>
                    <th scope="col"><p>PRICE</p></th>
                    <th scope="col"><p>WEEKS</p></th>
                    <th scope="col"><p>EDIT</p></th>
                  </tr>
            </thead>
            <tbody>
                <tr>
                    <!-- loop > -->
                    <th scope="row" id="order_nr"><p></p></th>
                        <td id="order_name"><p>Josefine</p></td> 
                        <td id="order_adress"><p>tulegatan 23</p></td>
                        <td id="order_price"><p>1250</p></td>
                        <td id="order_weeks"><p>1</p></td>
                        <td id="order_edit"><p>-</p></td>
                    <!-- loop -->
                </tr>
                <tr>
                    <th scope="row"id="order_nr"><p></p></th>
                        <td id="order_name"><p>Isabelle</p></td>
                        <td id="order_adress"><p>Thornton</p></td>
                        <td id="order_price"><p>@fat</p></td>
                        <td id="order_weeks"><p>2</p></td>
                        <td id="order_edit"><p>-</p></td>

                </tr>
                <tr>
                    <th scope="row" id="order_nr"><p>1337</p></th>
                        <td id="order_name"><p>Stefan</p></td>
                        <td id="order_adress"><p>the Bird</p></td>
                        <td id="order_price"><p>@twitter</p></td>
                        <td id="order_weeks"><p>3</p></td>
                        <td id="order_edit"><p></p></td>

                </tr>
            </tbody>
        </table>
    </div>
</div>

</body>

<%- include("../partial/adminfooter.ejs") %>