<%- include("../partial/adminheader.ejs") %>

<div class="row justify-content-center">
    <div class="col-12 col-md-7 col-lg-5" id="centercontainer">
        <div class="row" id="contentform">
            <div class="col-12">
                <h3 class="title">ORDERS</h3>
            <!-- ORDER INFORMATION -->
            </div>
        </div>
    </div>
</div>

<%- include("../partial/adminfooter.ejs") %>
