<%- include("../partial/adminheader.ejs") %>

<div class="row justify-content-center" id="title_admin">
	<div class="col-12 col-md-7 col-lg-5">
		<h1>ORDERS</h1>
	</div>
</div>
<div class="container ctnorderproduct">
	<div class="row">
		<div class="col-12">
			<table class="table table-image table-striped">
				<thead>
					<tr>
						<th scope="row">
						<th scope="col">
							<P>ORDER NO</P>
						</th>
						<th scope="col">
							<P>NAME</P>
						</th>
						<th scope="col">
							<P>ADDRESS</P>
						</th>
						<th scope="col">
							<P>PRICE</P>
						</th>
						<th scope="col">
							<P>EDIT</P>
						</th>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">
						<td class="w-15">
							<p></p>
						</td>

						<td class="w-15">
							<p></p>
						</td>
						<td class="w-15">
							<p></p>
						</td>
						<td class="w-15">
							<p></p>
						</td>
						<td class="w-15">

						</td>
						</th>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-12 ">
		</div>
	</div>
</div>

<%- include("../partial/adminfooter.ejs") %>