<%- include("../partial/adminheader.ejs") %>


<div class="row justify-content-center" id="title_admin">
    <div class="col-12 col-md-7 col-lg-5">
        <h1>Welcome</h1>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 col-md-7 col-lg-5 centerdiv">
        <p class="welcometxt">You've reached Surfers Admin page. Rock on Dude! *Shulululu*
        </p>
        <a href="/admin/addproduct">
            <button class="buttonblue">ADD PRODUCT</button></a><a href="/admin/addadmin"><button class="buttonblue">ADD ADMIN</button>
        </a>
    </div>
</div>
<%- include("../partial/adminfooter.ejs") %>