<%- include("../partial/adminheader.ejs") %>

            <div class="col-12 content wectn">
                <h1 class="title">Welcome!</h1>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium <br>doloremque
                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore <br>veritatis et quasi
                    architecto beatae vitae dicta sunt explicabo.
                </p>
            </div>
        </div>
    </div>
<%- include("../partial/adminfooter.ejs") %>
