<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WEB SURFERS</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div class="container-fluid">
        <header>
            <div class="row">
                <div class="col-12 logo-container">
                    <img src="./images/logo_blue.svg" alt="websurfers-logo" class="logoimg">
                </div>
            </div>
        </header>

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 orderinformationborder">
                <div class="row orderinformation">
                    <div class="col-8">
                        <span class="ordername">Surf and Turf in Portugal</span>
                        <span>4 weeks</span>
                    </div>
                    <div class="col-4 orderprice ml-auto">
                        8292
                        <span class="orderpricesek">
                            SEK
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 informationsection">
                <div class="row">
                    <div class="col-12">
                        <h5>INFORMATION</h5>
                        <form>
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <input type="text" class="inputshortco" id="fname" name="fname"
                                        placeholder="First name">
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <input type="text" class="inputshortco" id="lname" name="lname"
                                        placeholder="Last name">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <input type="text" class="inputlongco" id="email" name="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <input type="text" class="inputlongco" id="address" name="address"
                                        placeholder="Address">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <input type="text" class="inputshortco" id="zipcode" name="zipcode"
                                        placeholder="Zip code">
                                </div>
                                <div class="col-6">
                                    <input type="text" class="inputshortco" id="city" name="city" placeholder="City">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 paymentsection">
                <div class="row">
                    <div class="col-12">
                        <h5 class="title">PAYMENT</h5>
                    </div>
                </div>
                <form>
                    <div class="row">
                        <div class="col-12">
                            <input type="text" class="inputlongco" id="cardno" name="cardno" placeholder="Card No."
                                width="500px">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <input type="text" class="inputshortco" id="ddmm" name="ddmm" placeholder="DD/MM">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <input type="text" class="inputshortco" id="cvc" name="cvc" placeholder="CVC/CVV">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-m-12 col-lg-12">
                            <span class="gdpr">
                                By completing the order you agree to our terms of purchase and privacy policy.
                            </span>
                            <span class="gdpr">
                                accusantium doloremque laudantium, totam rem iam,
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 buttondiv">
                            <button type="submit" class="buttonblue">PAY</button>
                        </div>
                    </div>
                </form>
                <div class="row paymentlogos">
                    <div class="col-12">
                        <img src="./images/mastercard-log.svg" alt="mastercard-logo" class="paymentlogo">
                        <img src="./images/visa-logo.svg" alt="visa-logo" class="paymentlogo">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>