<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WEB SURFERS</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
        </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../main.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row fullheight">
            <!--Navbar-->
            <div class="col-12 navbarfirstpage">
                <div class="row">
                    <div class="col-2">
                        <a href="#" class="">
                            <img src="../images/logo_blue.svg" alt="logo" class="logoimg">
                        </a>
                    </div>
                    <div class="col-10 col-md-9 navlinksfirstpage">
                        <a href="./login" class="nav-item">LOG IN</a>
                        <a href="./signup" class="nav-item">SIGN UP</a>
                    </div>

                </div>
            </div>
            <!--IMG MOBILE-->
            <div class="firstpageimg">
                <div class="firstpagetextmobile">
                    <h1 class="firsttxt">Book your next adventure</h1>
                    <p class="firsttxt">We have attractive surf camps in unique, bucket-list locations around the world, designed to cater to surfers of all skill levels and adventure requirements. Whether you’re an eager beginner or an experienced surfer, our first-rate camps and awesome staff will make sure you’re in for a surf trip of a lifetime.</p>
                    <a href="./course"><button class="btn btn-light"> SEE OUR COURSES</button></a>
                </div>
            </div>
            <!--Video DESKTOP-->
            <div class="col-md-12 fullheight firstpagevideo">
                
                <div class="firstpagetextdesktop">
                    <h1>Book your next adventure</h1>
                    <p>We have attractive surf camps in unique, bucket-list locations around the world, designed to cater to surfers of all skill levels and adventure requirements. Whether you’re an eager beginner or an experienced surfer, our first-rate camps and awesome staff will make sure you’re in for a surf trip of a lifetime. </p>
                    <a href="./course"><button class="btn btn-light"> SEE OUR COURSES</button></a>
                </div>
            </div>
            <!--Menu Country-->

            <!-- <div class="col-12 col-md-1 sectionthree">
                <div class="row fullheight">
                    <div class="col-4 col-md-12 nextsideup">
                        
                    </div>
                    <div class="col-4 col-md-12 countrymenu-desktop">
                        
                    </div>
                    <div class="col-4 col-md-12 nextsidedown">
                        
                    </div>
                </div>
            </div> -->

        </div>
    </div>
</body>

</html>