<%- include("./partial/maincheader.ejs") %>

<div class="col-12 content">
    <h1>Book your next adventure</h1>
    <p>
        We have attractive surf camps in unique, bucket-list locations around the world, designed to cater to surfers of all skill levels and adventure requirements. Whether you’re an eager beginner or an experienced surfer, our first-rate camps and awesome staff will make sure you’re in for a surf trip of a lifetime.
    </p>
</div>
<%- include("./partial/maincfooter.ejs") %> 