<%- include("./partial/customerheader.ejs") %>


        <div class="row justify-content-center">
            <div class="col-12 col-md-7 col-lg-5" id="centercontainer">
                <div class="row" id="contentform">
                    <div class="col-12">
                        <h3 class="title">ORDERS</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-11 col-md-6 backgroundrec">
                <div class="row">
                    <div class="col-12 col-lg-5 imgctn">
                        <img src="/images/drew-colins.jpg" class="orderimg" />
                    </div>
                    <div class="col-12 col-lg-7">
                        <div class="row titlectn">
                            <div class="col-7">
                                <p class="coursetitle">SRI LANKA </p>
                            </div>
                            <div class="col-5 textend">
                                <p class="price">7393 SEK </p>
                            </div>
                        </div>
                        <div class="row txtctn">
                            <div class="col-4">
                                <p class="coursetxt">ORD NO:</p>
                            </div>
                            <div class="col-4">
                                <p class="coursetxt"># 3637219 </p>
                            </div>
                        </div>
                        <div class="row txtctn">
                            <div class="col-4">
                                <p class="coursetxt">DATES:</p>
                            </div>
                            <div class="col-4">
                                <p class="coursetxt">28/3-2021</p>
                            </div>
                        </div>
                        <div class="row txtctn">
                            <div class="col-4">
                                <p class="coursetxt">WEEKS:</p>
                            </div>
                            <div class="col-4">
                                <p class="coursetxt">3</p>
                            </div>
                        </div>
                        <div class="row txtctn">
                            <div class="col-4">
                                <p class="coursetxt">LOCATION:</p>
                            </div>
                            <div class="col-8">
                                <p class="coursetxt">RANDOM ADDRESS</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <%- include("./partial/customerfooter.ejs") %>