<%- include("./partial/customerheader.ejs") %>


<div class="row justify-content-center" id="title_admin">
    <div class="col-12 col-md-7 col-lg-5">
        <h1>ORDERS</h1>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 col-md-7 col-lg-6 backgroundrec">
        <div class="row">
            <div class="col-12 col-lg-6 imgctn">
                <img src="https://images.unsplash.com/photo-1489343970971-452ba8e1548d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80" class="orderimg" />
            </div>
            <div class="col-12 col-lg-6">
                <div class="row titlectn">
                    <div class="col-7">
                        <h2>SRI LANKA </h2>
                    </div>
                    <div class="col-5 textend">
                        <h3>3938 SEK </h3>
                    </div>
                </div>
                <div class="row txtctn">
                    <div class="col-4">
                        <p>ORD NO:</p>
                    </div>
                    <div class="col-4">
                        <p># 3637219 </p>
                    </div>
                </div>
                <div class="row txtctn">
                    <div class="col-4">
                        <p>DATES:</p>
                    </div>
                    <div class="col-4">
                        <p>28/3-2021</p>
                    </div>
                </div>
                <div class="row txtctn">
                    <div class="col-4">
                        <p>LOCATION:</p>
                    </div>
                    <div class="col-8">
                        <p>RANDOM ADDRESS</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("./partial/customerfooter.ejs") %>