<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WEB SURFERS</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../main.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 navbarmenu">
                <div class="row">
                    <div class="col-2 col-md-7">
                        <a class="" href="#">
                            <img src="/images/logo_blue.png" alt="logo" class="logoimg">
                        </a>
                    </div>
                    <div class="col-10 col-md-5 navbar-default">
                        <ul class="navbar-nav navbar-expand navlinks">
                            <li class="nav-item">
                                <a class="nav-link" href="orders.ejs">ORDERS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="settings.ejs">SETTINGS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="login.ejs">LOG OUT</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <h5 class="ordertitle">ORDERS</h5>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-11 col-md-6 backgroundrec">
                        <div class="row">
                            <div class="col-12 col-lg-5 imgctn">
                                <img src="/images/drew-colins.jpg" class="orderimg" />
                            </div>
                            <div class="col-12 col-lg-7">
                                <div class="row titlectn">
                                    <div class="col-7">
                                        <p class="coursetitle">SRI LANKA </p>
                                    </div>
                                    <div class="col-5 textend">
                                        <p class="price">7393 SEK </p>
                                    </div>
                                </div>
                                <div class="row txtctn">
                                    <div class="col-4">
                                        <p class="coursetxt">ORD NO:</p>
                                    </div>
                                    <div class="col-4">
                                        <p class="coursetxt"># 3637219 </p>
                                    </div>
                                </div>
                                <div class="row txtctn">
                                    <div class="col-4">
                                        <p class="coursetxt">DATES:</p>
                                    </div>
                                    <div class="col-4">
                                        <p class="coursetxt">28/3-2021</p>
                                    </div>
                                </div>
                                <div class="row txtctn">
                                    <div class="col-4">
                                        <p class="coursetxt">WEEKS:</p>
                                    </div>
                                    <div class="col-4">
                                        <p class="coursetxt">3</p>
                                    </div>
                                </div>
                                <div class="row txtctn">
                                    <div class="col-4">
                                        <p class="coursetxt">LOCATION:</p>
                                    </div>
                                    <div class="col-8">
                                        <p class="coursetxt">RANDOM ADDRESS</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>