<%- include("./partial/maincheader.ejs") %>

<div class="row justify-content-center">
    <div class="col-12 content slctn">
        <form class="col-12" action="/reset/:token" method="POST">
            <h1 class="title">CHANGE PASSWORD</h1>
            <div class="row">
                <div class="col-8 col-md-12">
                    <div class="row justify-content-center">
                        <div class="col-8 col-md-8">
                            <input type="hidden" value="<%=user._id%>" name="userId">
                            <input type="password" name="password" placeholder="New Password">
                            <button type="button" class="buttonblue">Reset Password</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<%- include("./partial/maincfooter.ejs") %>