<form action="/reset" method="post">
    <input type="email" name="resetMail">
    <button type="submit">Send New Password</button>
</form>
<!-- från formuläret så skickas ett mejl till Users mail-address som länkar till resetform där själva lösenordet återställs. -->