<%- include("./partial/maincheader.ejs") %>
    <div class="col-12 content">
        <h1 class="title">Thank you for your order!</h1>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium <br>doloremque
            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore <br>veritatis et quasi
            architecto beatae vitae dicta sunt explicabo.
        </p>
    </div>
<%- include("./partial/maincfooter.ejs") %>