@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,800&display=swap");
/* Variables */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,800&display=swap");
body {
  font-size: calc(14 + (52 - 14) * ((100vw - 100vw) / (100vw - 100vw)));
  font-family: "Montserrat";
  color: #464646; }
  @media (min-width: 992px) {
    body .orderinformationborder {
      border-right: 0.5px #464646 solid; } }
  @media (min-width: 992px) {
    body .informationsection {
      border-right: 0.5px #464646 solid; } }
  body .logo-container {
    padding: 20px; }
    body .logo-container .logo {
      height: 70px;
      width: 70px; }
  body .orderinformation {
    background-color: #F7F7F7;
    padding: 15px;
    margin: 0px 100px 0px 100px; }
    body .orderinformation span {
      display: block; }
    body .orderinformation .ordername {
      font-weight: 800; }
    body .orderinformation .orderprice {
      font-size: calc(110% + 0.25vw);
      text-align: right; }
      body .orderinformation .orderprice .orderpricesek {
        display: inline !important;
        font-size: calc(50% + 0.25vw); }
  body .informationsection, body .paymentsection {
    padding: 20px 120px 25px 120px; }
    body .informationsection .inputshort, body .paymentsection .inputshort {
      font-weight: 300;
      width: 100%;
      height: 33px;
      background: #F7F7F7;
      border: 1px solid #979797;
      border-radius: 0;
      padding: 0px 0px 0px 3px; }
    body .informationsection .inputlong, body .paymentsection .inputlong {
      font-weight: 300;
      width: 100%;
      height: 33px;
      background: #F7F7F7;
      border: 1px solid #979797;
      border-radius: 0;
      padding: 0px 0px 0px 3px; }
    body .informationsection h5, body .paymentsection h5 {
      font-weight: 500;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px; }
    body .informationsection .gdpr, body .paymentsection .gdpr {
      text-align: right;
      display: block;
      font-size: calc(60% + 0.25vw); }
    body .informationsection .buttondiv, body .paymentsection .buttondiv {
      text-align: right; }
      body .informationsection .buttondiv .buttonblue, body .paymentsection .buttondiv .buttonblue {
        width: 171px;
        height: 33px;
        background: #68C7C9;
        border-radius: 6px; }
    body .informationsection .paymentlogos, body .paymentsection .paymentlogos {
      padding-top: 5px;
      text-align: right; }
      body .informationsection .paymentlogos img, body .paymentsection .paymentlogos img {
        height: 25px; }
  body form div {
    padding-bottom: 10px; }

/* Variables */
html {
  height: 100%;
  margin: 0; }
  html body {
    height: 100%;
    margin: 0;
    font-size: calc(14 + (52 - 14) * ((100vw - 100vw) / (100vw - 100vw)));
    font-family: "Montserrat";
    color: #464646; }
    html body a {
      color: #464646;
      margin-right: 25px; }
    html body .container-fluid {
      height: 100%;
      min-height: 100%;
      margin: 0; }
      html body .container-fluid .navbarmenu {
        position: absolute;
        z-index: 10; }
        html body .container-fluid .navbarmenu .logoimg {
          height: 70px; }
        html body .container-fluid .navbarmenu .navlinks {
          padding-top: 30px;
          text-align: end; }
          @media (min-width: 768px) {
            html body .container-fluid .navbarmenu .navlinks {
              padding-top: 30px;
              padding-left: 50px; } }
          @media (min-width: 992px) {
            html body .container-fluid .navbarmenu .navlinks {
              padding-top: 30px;
              padding-left: 90px; } }
        html body .container-fluid .navbarmenu .basketwrapper {
          float: right; }
          html body .container-fluid .navbarmenu .basketwrapper .basketlogo {
            margin-top: 5px;
            height: 60px; }
      html body .container-fluid .sectionone {
        position: relative;
        height: 100%;
        margin: 0; }
        @media (min-width: 768px) {
          html body .container-fluid .sectionone {
            height: 100%; } }
        html body .container-fluid .sectionone .content {
          height: 100%;
          padding-top: 200px; }
          @media (min-width: 768px) {
            html body .container-fluid .sectionone .content {
              height: 95%; } }
        html body .container-fluid .sectionone .footer {
          height: 5%; }
          @media (min-width: 768px) {
            html body .container-fluid .sectionone .footer {
              height: 5%; } }
    html body .sectiontwo {
      height: 90%;
      background: darkgrey;
      background-image: url(../public/img/test_img.jpg);
      background-size: cover; }
      @media (min-width: 768px) {
        html body .sectiontwo {
          height: 100%; } }
    html body .sectionthree {
      height: 10%;
      text-align: center;
      background: #68C7C9; }
      @media (min-width: 768px) {
        html body .sectionthree {
          height: 100%; } }
      html body .sectionthree .nextsideup {
        text-align: center; }
        @media (min-width: 768px) {
          html body .sectionthree .nextsideup {
            height: 33%; } }
        html body .sectionthree .nextsideup .arrowup {
          display: none; }
          @media (min-width: 768px) {
            html body .sectionthree .nextsideup .arrowup {
              height: 58px;
              position: absolute;
              display: block;
              left: 33%;
              bottom: 1px; } }
        html body .sectionthree .nextsideup .arrowleft {
          height: 58px;
          display: block;
          margin-left: auto;
          margin-right: auto; }
          @media (min-width: 768px) {
            html body .sectionthree .nextsideup .arrowleft {
              display: none; } }
      @media (min-width: 768px) {
        html body .sectionthree .countrymenu-desktop {
          height: 33%; } }
      @media (min-width: 768px) {
        html body .sectionthree .nextsidedown {
          height: 34%; } }
      html body .sectionthree .nextsidedown .arrowdown {
        display: none; }
        @media (min-width: 768px) {
          html body .sectionthree .nextsidedown .arrowdown {
            height: 58px;
            display: block;
            margin-left: auto;
            margin-right: auto; } }
      html body .sectionthree .nextsidedown .arrowright {
        height: 58px;
        display: block;
        margin-left: auto;
        margin-right: auto; }
        @media (min-width: 768px) {
          html body .sectionthree .nextsidedown .arrowright {
            display: none; } }
  html .fullheight {
    height: 100%; }

/* Variables */
body {
  font-size: calc(14 + (52 - 14) * ((100vw - 100vw) / (100vw - 100vw)));
  font-family: "Montserrat";
  color: #464646; }
  body .container-fluid #navbar {
    border: solid 1px lightsalmon;
    height: 50px; }
    body .container-fluid #navbar a {
      float: right;
      color: black;
      text-decoration: none; }
  body .container-fluid #leftcontainer {
    border: solid 1px lightblue;
    width: 100px; }
  body .container-fluid #centercontainer {
    border: solid 1px lightyellow;
    width: 100px;
    align-items: center; }
    body .container-fluid #centercontainer .form-inline .form-control {
      margin: 40px; }
    body .container-fluid #centercontainer .form-inline h6 {
      margin: 2px; }
    body .container-fluid #centercontainer .form-inline input.checkbox {
      margin: 6px; }
  body .container-fluid button {
    margin: 4px;
    padding: 4px; }
  body .container-fluid #rightcontainer {
    background-color: lightgreen;
    width: 100px; }
