@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,800&display=swap");
/* Variables */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,800&display=swap");
html {
  height: 100%;
  margin: 0; }
  html body {
    height: 100%;
    margin: 0;
    font-size: calc(14 + (52 - 14) * ((100vw - 100vw) / (100vw - 100vw)));
    font-family: "Montserrat";
    color: #464646; }
    html body a {
      color: #464646;
      margin-right: 25px; }
    html body .container-fluid {
      height: 100%;
      min-height: 100%;
      margin: 0; }
      html body .container-fluid .navbarmenu {
        position: absolute;
        z-index: 10; }
        html body .container-fluid .navbarmenu .logoimg {
          height: 70px; }
        html body .container-fluid .navbarmenu .navlinks {
          padding-top: 30px;
          text-align: end; }
          @media (min-width: 768px) {
            html body .container-fluid .navbarmenu .navlinks {
              padding-top: 30px;
              padding-left: 50px; } }
          @media (min-width: 992px) {
            html body .container-fluid .navbarmenu .navlinks {
              padding-top: 30px;
              padding-left: 90px; } }
        html body .container-fluid .navbarmenu .basketwrapper {
          float: right; }
          html body .container-fluid .navbarmenu .basketwrapper .basketlogo {
            margin-top: 5px;
            height: 60px; }
      html body .container-fluid .sectionone {
        position: relative;
        height: 100%;
        margin: 0; }
        @media (min-width: 768px) {
          html body .container-fluid .sectionone {
            height: 100%; } }
        html body .container-fluid .sectionone .content {
          height: 100%;
          padding-top: 200px; }
          @media (min-width: 768px) {
            html body .container-fluid .sectionone .content {
              height: 95%; } }
        html body .container-fluid .sectionone .footer {
          height: 5%; }
          @media (min-width: 768px) {
            html body .container-fluid .sectionone .footer {
              height: 5%; } }
    html body .sectiontwo {
      height: 90%;
      background: darkgrey;
      background-image: url(../public/img/test_img.jpg);
      background-size: cover; }
      @media (min-width: 768px) {
        html body .sectiontwo {
          height: 100%; } }
    html body .sectionthree {
      height: 10%;
      text-align: center;
      background: #68C7C9; }
      @media (min-width: 768px) {
        html body .sectionthree {
          height: 100%; } }
      html body .sectionthree .nextsideup {
        text-align: center; }
        @media (min-width: 768px) {
          html body .sectionthree .nextsideup {
            height: 33%; } }
        html body .sectionthree .nextsideup .arrowup {
          display: none; }
          @media (min-width: 768px) {
            html body .sectionthree .nextsideup .arrowup {
              height: 58px;
              position: absolute;
              display: block;
              left: 33%;
              bottom: 1px; } }
        html body .sectionthree .nextsideup .arrowleft {
          height: 58px;
          display: block;
          margin-left: auto;
          margin-right: auto; }
          @media (min-width: 768px) {
            html body .sectionthree .nextsideup .arrowleft {
              display: none; } }
      @media (min-width: 768px) {
        html body .sectionthree .countrymenu-desktop {
          height: 33%; } }
      @media (min-width: 768px) {
        html body .sectionthree .nextsidedown {
          height: 34%; } }
      html body .sectionthree .nextsidedown .arrowdown {
        display: none; }
        @media (min-width: 768px) {
          html body .sectionthree .nextsidedown .arrowdown {
            height: 58px;
            display: block;
            margin-left: auto;
            margin-right: auto; } }
      html body .sectionthree .nextsidedown .arrowright {
        height: 58px;
        display: block;
        margin-left: auto;
        margin-right: auto; }
        @media (min-width: 768px) {
          html body .sectionthree .nextsidedown .arrowright {
            display: none; } }
  html .fullheight {
    height: 100%; }

.container-fluid #navbar {
  height: 50px; }
  .container-fluid #navbar a {
    float: right;
    color: black;
    text-decoration: none; }

.container-fluid #centercontainer {
  width: 100px;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px; }
  .container-fluid #centercontainer #contentform h3 {
    margin-top: 110px;
    text-align: center; }
  .container-fluid #centercontainer #contentform #sel1 {
    font-weight: 300;
    width: 360px;
    height: 33px;
    background: #F7F7F7;
    border-style: 1px solid #979797;
    border-radius: 0px !important; }
  .container-fluid #centercontainer input {
    margin: 8px; }
  .container-fluid #centercontainer #price {
    float: left; }
  .container-fluid #centercontainer #quantity {
    float: right; }
  .container-fluid #centercontainer .select-weeks input {
    display: none; }
  .container-fluid #centercontainer .week-label {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid #ddd;
    line-height: 40px; }
  .container-fluid #centercontainer #one:checked ~ label[for="one"],
  .container-fluid #centercontainer #two:checked ~ label[for="two"],
  .container-fluid #centercontainer #three:checked ~ label[for="three"],
  .container-fluid #centercontainer #four:checked ~ label[for="four"] {
    background: #68C7C9;
    color: #fff; }
  .container-fluid #centercontainer .form-inline .form-control {
    margin: 20px; }
  .container-fluid #centercontainer .form-inline h6 {
    margin: 2px; }
  .container-fluid #centercontainer .form-inline input.checkbox {
    margin: 6px; }
  .container-fluid #centercontainer .custom-file {
    width: 60%; }
  .container-fluid #centercontainer .buttonblue {
    margin-top: 10px;
    margin-left: 120px; }

body {
  font-size: calc(14 + (52 - 14) * ((100vw - 100vw) / (100vw - 100vw)));
  font-family: "Montserrat";
  color: #464646; }

a {
  color: #464646;
  font-weight: 400;
  margin-right: 25px; }

.title {
  letter-spacing: 1.71667px;
  font-weight: 800;
  margin-bottom: 33px; }

.slinput {
  font-weight: 300;
  display: block;
  margin: 0 auto; }

.inputshort {
  font-weight: 300;
  width: 171px;
  height: 33px;
  background: #F7F7F7;
  border: 1px solid #979797;
  border-radius: 0;
  margin: 0 auto;
  padding: 0 auto; }

.inputlong {
  font-weight: 300;
  width: 360px;
  height: 33px;
  background: #F7F7F7;
  border: 1px solid #979797;
  border-radius: 0;
  margin: 0 auto;
  padding: 0 auto; }

.dropdownlong {
  font-weight: 300;
  width: 360px;
  height: 33px;
  background: #F7F7F7;
  border: 1px solid #979797;
  border-radius: 0; }

.buttonblue {
  width: 171px;
  height: 33px;
  background: #68C7C9;
  border-radius: 6px; }

.buttongreen {
  width: 171px;
  height: 33px;
  background: #9AD187;
  border-radius: 6px; }

.buttonyellow {
  width: 171px;
  height: 33px;
  background: #FFC556;
  border-radius: 6px; }

.buttonred {
  width: 171px;
  height: 33px;
  background: #FF6948;
  border-radius: 6px; }

.errorMessage {
  color: #FF6948; }

html {
  height: 100%;
  margin: 0; }
  html body {
    height: 100%;
    margin: 0;
    font-size: calc(14 + (52 - 14) * ((100vw - 100vw) / (100vw - 100vw)));
    font-family: "Montserrat";
    color: #464646; }
    html body a {
      color: #464646;
      font-weight: 400;
      margin-right: 25px; }
    html body .container-fluid {
      height: 100%;
      min-height: 100%;
      margin: 0; }
      html body .container-fluid .navbarmenu {
        position: absolute;
        z-index: 10; }
        html body .container-fluid .navbarmenu .logoimg {
          height: 70px; }
        html body .container-fluid .navbarmenu .navlinks {
          padding-top: 30px;
          text-align: end; }
          @media (min-width: 768px) {
            html body .container-fluid .navbarmenu .navlinks {
              padding-top: 30px;
              padding-left: 50px; } }
          @media (min-width: 992px) {
            html body .container-fluid .navbarmenu .navlinks {
              padding-top: 30px;
              padding-left: 90px; } }
        html body .container-fluid .navbarmenu .basketwrapper {
          float: right; }
          html body .container-fluid .navbarmenu .basketwrapper .basketlogo {
            margin-top: 5px;
            height: 60px; }
      html body .container-fluid .sectionone {
        position: relative;
        height: 100%;
        margin: 0; }
        @media (min-width: 768px) {
          html body .container-fluid .sectionone {
            height: 100%; } }
        html body .container-fluid .sectionone .content {
          height: 100%;
          padding-top: 200px; }
          @media (min-width: 768px) {
            html body .container-fluid .sectionone .content {
              height: 95%; } }
        html body .container-fluid .sectionone .footer {
          height: 5%; }
          @media (min-width: 768px) {
            html body .container-fluid .sectionone .footer {
              height: 5%; } }
    html body .sectiontwo {
      height: 90%;
      background: darkgrey;
      background-size: cover; }
      @media (min-width: 768px) {
        html body .sectiontwo {
          height: 100%; } }
    html body .sectionthree {
      height: 10%;
      text-align: center;
      background: #68C7C9; }
      @media (min-width: 768px) {
        html body .sectionthree {
          height: 100%; } }
      html body .sectionthree .nextsideup {
        text-align: center; }
        @media (min-width: 768px) {
          html body .sectionthree .nextsideup {
            height: 33%; } }
        html body .sectionthree .nextsideup .arrowup {
          display: none;
          position: absolute;
          top: 0; }
          @media (min-width: 768px) {
            html body .sectionthree .nextsideup .arrowup {
              height: 58px;
              position: absolute;
              display: block;
              left: 33%;
              bottom: 1px; } }
        html body .sectionthree .nextsideup .arrowleft {
          height: 58px;
          display: block;
          margin-left: auto;
          margin-right: auto; }
          @media (min-width: 768px) {
            html body .sectionthree .nextsideup .arrowleft {
              display: none; } }
      @media (min-width: 768px) {
        html body .sectionthree .countrymenu-desktop {
          height: 33%; } }
      @media (min-width: 768px) {
        html body .sectionthree .nextsidedown {
          height: 34%; } }
      html body .sectionthree .nextsidedown .arrowdown {
        display: none;
        position: absolute;
        bottom: 0;
        text-align: center; }
        @media (min-width: 768px) {
          html body .sectionthree .nextsidedown .arrowdown {
            height: 58px;
            display: block;
            margin-left: auto;
            margin-right: auto; } }
      html body .sectionthree .nextsidedown .arrowright {
        height: 58px;
        display: block;
        margin-left: auto;
        margin-right: auto; }
        @media (min-width: 768px) {
          html body .sectionthree .nextsidedown .arrowright {
            display: none; } }
  html .fullheight {
    height: 100%; }

.slctn {
  text-align: center; }

/* Variables */
