@import "variables.scss";

body {
    // font-size: calc(14 + (52 - 14) * ((100vw - 100vw) / (100vw - 100vw)));
    // font-family: $font;
    color: $fontcolor; 
}


.container-fluid {
    height: 100%;
    min-height: 100%;
    margin: 0;
}


// .logoimg {

// }

.arrow {
    height: 58px;
}

// .basketlogo {

// }