<<<<<<< HEAD

                <div class="col-12 footer">
                    <a href="#">CONTACT</a>
                    <a href="#">PRIVACY POLICY</a>
                    <a href="#">TERMS OF USE</a>
                </div>
            </div>
        </div>
    </div>
=======
<div class="col-12 footer">
    <a href="#">CONTACT</a>
    <a href="#">PRIVACY POLICY</a>
    <a href="#">TERMS OF USE</a>
</div>
</div>
</div>
</div>
>>>>>>> 015c4b9ab4d51c505a0011c64fd1f6180d275b09
</div>
</body>

</html>