                <div class="col-12 footer">
                    <a href="#" class="footermenu">CONTACT</a>
                    <a href="#" class="footermenu">PRIVACY POLICY</a>
                    <a href="#" class="footermenu">TERMS OF USE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>