
<div class="todoSection">
    <% threeTodos.forEach( (todo) => { %>
    <ul id="myUL">
        <li id="item" class="liItem"><%= todo.text %>
            <a href="/update/<%=todo._id%>"><i class="update fas fa-pencil-alt"></i></a>
            <a href="/delete/<%=todo._id%>"><i class="close fas fa-trash-alt"></i></a>
        </li>
    </ul>
    <%  }) %>
</div>



<div class="col-12 col-md-1 col sectionthree order-md-3">
    <div class="row fullheight">
        <div class="col-4 col-md-12 nextsideup">
            <a href="#" class="headerlink">
                <img src="../images/arrow_left.png" alt="next side" class="arrowleft">
            </a>
            <a href="#" class="headerlink" >
                <img src="../images/arrow_up.png" alt="next side" class="arrowup">
            </a>
        </div>
        <div class="col-4 col-md-12 countrymenu-desktop">
            <h4 class="title">SRI</h4>
        </div>
        <div class="col-4 col-md-12 nextsidedown">
            <a  href="#" class="headerlink">
                <img src="../images/arrow_right.png" alt="next side" class="arrowright">
            </a>
            <a href="#" class="headerlink">
                <img src="../images/arrow_down.png" alt="next side" class="arrowdown">
            </a>

        </div>
    </div>
</div>