

<div class="col-12 col-md-1 col sectionthree order-md-3">
    <div class="row fullheight">
        <div class="col-4 col-md-12 nextsideup">
            <a href="#" class="headerlink">
                <img src="../images/arrow_left.svg" alt="next side" class="arrowleft">
            </a>
            <a href="#" class="headerlink" >
                <img src="../images/arrow_up.svg" alt="next side" class="arrowup">
            </a>
        </div>
        <div class="col-4 col-md-12 countrymenu-desktop">
            <h4 class="title">SRI</h4>
        </div>
        <div class="col-4 col-md-12 nextsidedown">
            <a  href="#" class="headerlink">
                <img src="../images/arrow_right.svg" alt="next side" class="arrowright">
            </a>
            <a href="#" class="headerlink">
                <img src="../images/arrow_down.svg" alt="next side" class="arrowdown">
            </a>

        </div>
    </div>
</div>