<%- include("../partial/header.ejs") %>

<div class="col-12 content slctn">
    <h1 class="title">Book your next adventure</h1>
    <p class="coursedescription">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
        architecto beatae vitae dicta sunt explicabo.
    </p>
</div>
<%- include("../partial/footer.ejs") %>