<%- include("../partial/header.ejs") %>


<div class="col-12 content">

    <!-- ORDERS DESIGN -->
<<<<<<< HEAD
    
=======

>>>>>>> 015c4b9ab4d51c505a0011c64fd1f6180d275b09
</div>

<%- include("../partial/footer.ejs") %>