<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sig up</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>

<body>
    <!-- lägg till typsnitt och kolla storlek på inputfälten -->
    <form action="/signup" method="POST">
        <div class="form-group">
            <input type="email" name="email" class="form-control" id="signUpEmail" placeholder="Email" />
        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control" id="signUpPassword" placeholder="Password" />
        </div>
        <!-- Lägg till färg, storlek och typsnitt för knappen -->
        <button type="submit" id="SignUpBtn" class="SignUp-btn">SIGN UP</button>
    </form>
</body>

</html>